{% extends 'layout/base.html' %}



{% block content %}
    {% for sec, thread in secthread.items %}
    <div class="thread-list">
        <div class="section"><h2><a href="{% url 'arch_section' sec.pk %}">{{sec.section_name}}</a></h2>
        </div>
        
            <ul class="threads">
                {% for t in thread %}
                <div class="thread"><a href="{% url 'arch_thread' t.pk %}">{{ t.thread_name }}</a>
                <div>Количество сообщений: {{ t.posts.count }}</div>
                
                </div>
                {% endfor %}
            </ul>
    </div>
        {% endfor %}       
    
{% endblock %}






