{% extends 'layout/base.html' %}
{% load static %}


{% block content %}
<div class="section1"><h1>{{ thread.thread_name }}</h1></div>
    {% for post in posts %}
    <div class="post">
        <div class="user-info">
            {% if post.user_id.avatar %}
            <img src="{{post.user_id.avatar.url}}" alt="">
            {% else %}
            <img src="{% static 'img/noava.png' %}" alt="">
            {% endif %}
            <hr>
            {{ post.user_id.username}}
            <p>Дата регистрации:</p>
            <p>{{post.user_id.date_joined}}</p>
        </div>
       <div class="post-wrapper">
            <div class="post-text">
                {{ post.text | safe }}
            </div> 
            <div class="post-info">
                Опубликованно : {{ post.created_at }}
            </div>
       </div>
    </div>
    {% endfor %}

<hr>

<h2>Эта тема закрыта</h2>
{% endblock %}