{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
<div class="section1"><h1>{{ thread.thread_name }}</h1></div>
    {% for post in page_obj %}
    <div class="post">
        <div class="user-info">
            {% if post.user_id.avatar %}
            <img src="{{post.user_id.avatar.url}}" alt="">
            {% else %}
            <img src="{% static 'img/noava.png' %}" alt="">
            {% endif %}
            <hr>
            <p>{{ post.user_id.username}}</p>
            <p>Дата регистрации:</p>
            <p>{{post.user_id.date_joined}}</p>
        </div>
       <div class="post-wrapper">
            <div class="post-text">
                {{ post.text | safe }}
            </div> 
            <div class="post-info">
                Опубликованно : {{ post.created_at }}
                {% if post.user_id.pk == user.pk or user.is_staff %}
                <button><a href="{% url 'delete' post.pk %}">Удалить</a></button>
                {% endif %}
                {% if post.user_id.pk == user.pk %}
                <button><a href="{% url 'edit_post' post.pk %}">Изменить</a></button>
                {% endif %}
            </div>
       </div>
    </div>
    {% endfor %}

 <div class="paginator">
        {% if page_obj.has_other_pages %}
        <nav class="list-pages">
        <ul>
            {% if page_obj.has_previous %}
            <li class="page-num">
             <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
            </li>
        {% endif %}
            {% for p in paginator.page_range %}
                       {% if page_obj.number == p %}
            <li class="page-num page-num-selected">{{ p }}</li>
                       {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
            <li class="page-num">
                <a href="?page={{ p }}">{{ p }}</a>
            </li>
                       {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
        <li class="page-num">
             <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
        </li>
    {% endif %}
    
            </ul>
            </nav>
    {% endif %}
 </div>


<hr>
{% if user.is_authenticated %}
<div class="create-post">
    <h3>Введите сообщение</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.post_text }}
        <button class="pressed-button" type="submit">Отправить</button>
    </form>
</div>
{% else %}
<h2>Отправлять сообщения могут только зарегистрированные пользователи, <a href="{% url 'login' %}">Войти</a></h2>
{% endif %}
{% endblock %}
